<template>
    <v-container>
      <v-row>
        <v-col v-for="(image, index) in images" :key="index" cols="12" sm="4" md="4">
          <v-card>
            <v-img :src="image" aspect-ratio="1.5"></v-img>
            <v-card-title>{{ getUsername() }}</v-card-title>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>
  
  <script>
  export default {
    props: ['images'],
  };
  </script>
  
  <style scoped>
  /*ggf. anpassen*/
  </style>
  