/*Allg.*/
body {
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.container_fotogalerie {
    display: grid;
    max-width: 900px;
    max-height: auto;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: 1fr auto repeat(11, 2fr) repeat(4, 0.2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.login_register,
.container_impressum,
.my_container,
.upload_container {
    display: grid;
    max-width: 900px;
    max-height: auto;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*nav*/
.my_container > div:nth-child(1),
.container_impressum > div:nth-child(1),
.container_fotogalerie > div:nth-child(1),
.login_register > div:nth-child(1),
.upload_container > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
  
.logo {
    display: flex;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    text-align: start;
}
  
.nav-items a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    text-align: right;
}
  
.nav-items a:hover {
    color: rgb(109, 161, 144);
}

/*my*/
/*index, text*/
.my_container > div:nth-child(2) {
    grid-area: 2 / 1 / 7 / 2;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    color: #000;
    padding: 1rem 2rem;
}

.a_text h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
  
.a_text ul {
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 20px;
}

/*index, Startbild*/
.my_container > div:nth-child(3) {
    display: grid;
    grid-area: 2 / 3 / 7 / 4;
    margin-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 600px;
}

.my_container > div:nth-child(3) .index_img {
    height: 500px;
    margin-top: 60px;
}

/*soll nicht angezeigt werden*/
.my_container > div:nth-child(4) {
    grid-area: 7 / 1 / 14 / 4;
    display: none;
}

/*buttonLeft*/
.button {
    position: absolute;
    left: 10px;
    bottom: 10px;
    /*padding: 1rem 2rem;*/
    /*padding: 3rem calc((100vw - 1300px) / 2);*/
    margin: auto auto 10px 1rem;
}

.button button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    border-radius: 10px;
    margin-top: auto;
}
  
.button button:hover {
    background: rgb(211, 202, 202);
    color: #000;
}

/*footer*/

.my_container > div:nth-child(5),
.container_fotogalerie > div:nth-child(5),
.upload_container > div:nth-child(5),
.login_register > div:nth-child(5) {
    grid-area: 14 / 1 / 18 / 4;
    border-top: 0.5px solid black;
    padding-top: 10px;
    padding-bottom: 50px;
}

.impressum a,
.upload_container .link_upload a, 
.container_fotogalerie .link_upload a {
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    text-align: right;
}
  
.impressum a:hover,
.upload_container .link_upload a:hover, 
.container_fotogalerie .link_upload a:hover {
    color: rgb(109, 161, 144);
}

/*Fotogalerie*/
/*2nd text-container*/
.container_fotogalerie > div:nth-child(2),
.upload_container > div:nth-child(2) ,
.login_register > div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0 2rem;

}

/*3rd image-container*/
.container_fotogalerie > div:nth-child(3) {
    grid-area: 3 / 1 / 12 / 4;
}

.container_fotogalerie > div:nth-child(3) {
    grid-area: 3 / 1 / 13 / 4;
    background: rgb(211, 202, 202);
}

.container_fotogalerie > div:nth-child(3) .imageBox {
    background: rgb(211, 202, 202);
}
    

.container_fotogalerie > div:nth-child(3) .downloadicon,
.container_fotogalerie > div:nth-child(3) .h5icon {
    float: left;
    border: none;
}

.container_fotogalerie > div:nth-child(3) .downloadicon {
    padding-top: 15px;
    margin-bottom: 10px;
    border: none;
}

.container_fotogalerie > div:nth-child(3) .h5icon {
    margin-right: 155px;
}

/*4th button-container*/
.container_fotogalerie > div:nth-child(4) {
    grid-area: 13 / 1 / 14 / 4;
    padding: 0 2rem;
}

.container_fotogalerie > div:nth-child(4) .button_upload button:hover {
    background: #ffb766;
    color: #000;
}

/*.login_register*/

.login_register > div:nth-child(3){
    grid-area: 3 / 1 / 7 / 4;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
}

.login_register > div:nth-child(3) .login_form,
.login_register > div:nth-child(4) .login_formRegister{
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 15px;
    border: 1px solid black;
    background: whitesmoke;
}

/* Full-width input fields */
.login_register > div:nth-child(3) input[type=text], input[type=password],
.login_register > div:nth-child(4) input[type=text], input[type=password]  {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .login_register > div:nth-child(3) .button_login button,
  .login_register > div:nth-child(4) .button_register button {
    margin: 8px 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
  
  .login_register > div:nth-child(3) .button_login button:hover,
  .login_register > div:nth-child(4) .button_register button:hover {
    color: rgb(109, 161, 144);
    border: 1px solid black;
    background: none;
  }
  
  /* Extra styles for the cancel button */
  .login_register > div:nth-child(3) .container .cancelbtn,
  .login_register > div:nth-child(4) .container .cancelbtn  {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
  }

  .login_register > div:nth-child(3) .container .cancelbtn:hover,
  .login_register > div:nth-child(4) .container .cancelbtn:hover  {
    width: auto;
    padding: 10px 18px;
    color: #f44336;
    background: black;
    border: none;
  }
  
  /*Center the image and position the close button */
  .login_register > div:nth-child(3) .imgcontainer,
  .login_register > div:nth-child(4) .imgcontainer {
    margin: 24px 12px;
    position: relative;
  }
  
  .login_register > div:nth-child(3) .container,
  .login_register > div:nth-child(4) .container {
    padding: 16px;
  }
  
  .login_register > div:nth-child(3) span.psw,
  .login_register > div:nth-child(4) span.psw {
    float: right;
    padding-top: 16px;
  }
    
  /* Modal Content/Box */

  .login_register > div:nth-child(3) .modal,
  .login_register > div:nth-child(4) .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }

  .login_register > div:nth-child(3) .modal-content,
  .login_register > div:nth-child(4) .modal-content  {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

/*<4th register-container: register*/
.login_register > div:nth-child(4){
    grid-area: 7 / 1 / 14 / 4;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.container_impressum > div:nth-child(2) .logout_container {
    justify-content: center;
    margin-left: auto; 
    margin-right: 10px;
    
}

.my_container > div:nth-child(3) .logout_container {
    display: flex;
    justify-content: right;
    margin-left: auto; 
    margin-right: 10px;
    
}

.my_container > div:nth-child(3) .logout,
.container_impressum > div:nth-child(2) .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: auto; 
    padding: 20px 50px;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.container_impressum > div:nth-child(2) .logout:hover {
    color: rgb(109, 161, 144);
}

/*upload_container*/

.upload_container > div:nth-child(2) h3 {
    margin: 0;

}

.upload_container > div:nth-child(2) .logout {
    text-decoration: none;
    text-align: right;

}

.upload_container > div:nth-child(3) {
    grid-area: 3 / 3 / 5 / 4;  
    margin-bottom: 200px;  
}

.upload_container > div:nth-child(3) .link_upload {
    border: 0.5px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-right: 20px;
    background: #ffb766;

}

.upload_container > div:nth-child(4) {
    grid-area: 5 / 1 / 14 / 4;
    display: none;    
}


.login_register > div:nth-child(4) .login_formRegister .error-message {
    color: rgb(214, 54, 54);
}

.login_register > div:nth-child(4) .error-message.default-color {
    color: rgb(214, 54, 54);
}

.login_register > div:nth-child(4) .error-message.warning {
    color: rgb(221, 166, 65);
}

.login_register > div:nth-child(4) .success {
    color: rgb(81, 158, 81)
}

/*Impressum*/
.container_impressum > div:nth-child(2) {
    grid-area: 2 / 1 / 5 / 4;
    padding: 0 2rem;
} 

.container_impressum > div:nth-child(2) #a {
    text-align: center;
}

.container_impressum > div:nth-child(3) {
    grid-area: 14 / 1 / 18 / 4;
    padding: 0 2rem;
} 
