body {
    padding: 80px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    background: #f3f0f0;
}

/*GENERAL*/
.admin_board {
    display: grid;
    max-width: 900px;
    max-height: 1400px;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: repeat(13, 1fr)  0.2fr 0.2fr 0.2fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.admin_container_impressum {
    display: grid;
    max-width: 900px;
    max-height: 1400px;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: repeat(5, 1 fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.uploadBilder {
    display: grid;
    max-width: 900px;
    max-height: auto;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.container_user > div,
.admin_settings > div {
    background: rgb(211, 202, 202); 
}

.admin_board > div:nth-child(1),
.container_user > div:nth-child(1),
.admin_settings  > div:nth-child(1),
.admin_container_impressum > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 5;
    height: 60px;/*kleiner als Startseite*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

.admin_board
.admin_container_impressum {
    grid-area: 1 / 1 / 18 / 5;
}

/*footer*/
.admin_board > div:nth-child(5),
.container_user > div:nth-child(5),
.admin_settings > div:nth-child(5),
.admin_container_impressum > div:nth-child(5) {
    grid-area: 13 / 1 / 18 / 5;
}

/*nav*/
.logo {
    display: flex;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    text-align: start;
}
  
.nav-items a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    text-align: right;
}
  
.nav-items a:hover {
    color: rgb(109, 161, 144);
}

/*Änderungen Dropdown*/
.container_fotogalerie_login > div:nth-child(2),
.admin_container_impressum  > div:nth-child(2),
.admin_settings > div:nth-child(2),
.admin_board  > div:nth-child(2),
.container_user > div:nth-child(2),
.uploadBilder > div:nth-child(2) {
    display: grid;
    justify-content: space-between;
    margin: 10px;
}

.uploadBilder > div:nth-child(2) .dropdown-container {
    display: flex;
    justify-content: flex-start; /* Ändere dies auf flex-start */
    align-items: center;
    margin-right: 50px;
}

/* Logout-Button Container */
.uploadBilder > div:nth-child(2) .logout-container {
    display: flex;
    justify-content: flex-center; /* Ändere dies auf flex-end */
    align-items: center;
    margin-right: auto;
}

/* Einstellungen ändern */
.uploadBilder > div:nth-child(2) .link_upload {
    display: flex;
    justify-content: flex-start; /* Ändere dies auf flex-start */
    align-items: center;
}

.uploadBilder > div:nth-child(2) .link_upload a {
    margin-top: 5px; /* Abstand zwischen Logout und Einstellungen ändern */
}

.container_user  > div:nth-child(2) .logout,
.admin_settings  > div:nth-child(2) .logout,
.admin_board  > div:nth-child(2) .logout,
.admin_container_impressum > div:nth-child(2) .logout,
.container_fotogalerie_login > div:nth-child(2) .logout,
.uploadBilder > div:nth-child(2) .logout {
    margin: 8px 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    margin-top: 20px;
}

.container_user > div:nth-child(2) .logout:hover,
.admin_settings > div:nth-child(2) .logout:hover,
.admin_board  > div:nth-child(2) .logout:hover,
.admin_container_impressum  > div:nth-child(2) .logout:hover,
.container_fotogalerie_login > div:nth-child(2) .logout:hover,
.uploadBilder > div:nth-child(2) .logout:hover  {
    background: #ffb766;
    color: #000;
}

.container_user  > div:nth-child(2) .dropdown button,
.container_fotogalerie_login > div:nth-child(2) .dropdown button,
.admin_container_impressum > div:nth-child(2) .dropdown button,
.admin_settings > div:nth-child(2) .dropdown button,
.admin_board  > div:nth-child(2) .dropdown button,
.uploadBilder > div:nth-child(2) .dropdown button {
    margin: 8px 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: black;
    background: #7da7b8;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 0px;
}

.container_user  > div:nth-child(2) .dropdown-container,
.container_fotogalerie_login > div:nth-child(2) .dropdown-container,
.admin_container_impressum  > div:nth-child(2) .dropdown-container,
.admin_settings > div:nth-child(2) .dropdown-container,
.admin_board  > div:nth-child(2) .dropdown-container,
.uploadBilder > div:nth-child(2) .dropdown-container {
    margin-left: 10px;
}

.container_user  > div:nth-child(2) .logout-container,
.container_fotogalerie_login > div:nth-child(2) .logout-container,
.admin_container_impressum  > div:nth-child(2) .logout-container,
.admin_settings > div:nth-child(2) .logout-container,
.admin_board  > div:nth-child(2) .logout-container {
    margin-left: 10px;
}

.uploadBilder > div:nth-child(2) .logout-container {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container_user  > div:nth-child(2) .logout,
.container_fotogalerie_login > div:nth-child(2) .logout,
.admin_container_impressum > div:nth-child(2) .logout,
.admin_settings > div:nth-child(2) .logout,
.admin_board  > div:nth-child(2) .logout,
.admin_board  > div:nth-child(2) .logout {
    margin-right: 10px;
}

.admin_container_impressum > div:nth-child(2) .logout_admin {
    margin-left: 40px;
}

.admin_container_impressum > div:nth-child(2) .logout_admin button {
    margin: 8px 0;
    padding: 1rem 3rem;
    text-align: center;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    margin-top: 20px;
}

.container_fotogalerie_login > div:nth-child(2),
.admin_board > div:nth-child(2),
.container_user > div:nth-child(2),
.admin_settings > div:nth-child(2),
.admin_board  > div:nth-child(2),
.uploadBilder > div:nth-child(2) {
    display: flex; 
    grid-area: 2 / 1 / 3 / 5;
}

.container_user > div:nth-child(5),
.admin_settings > div:nth-child(5),
.admin_board > div:nth-child(5),
.container_fotogalerie_login > div:nth-child(5) {
    grid-area: 14 / 1 / 18 / 4;
    border-top: 0.5px solid black;
    padding-top: 10px;
    padding-bottom: 50px;
}

.container_user .impressum a,
.admin_settings .impressum a,
.admin_board .impressum a,
.container_fotogalerie_login .impressum a,
.admin_container_impressum .impressum a,
.uploadBilder .impressum a {
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    text-align: right;
}

.admin_board > div:nth-child(4) .login_form {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1fr, auto));
}

.admin_board > div:nth-child(4) .changeUser {
    font-size: 1rem;
    border: none;
    background: #000;
    color: rgb(109, 161, 144);
    cursor: pointer;
    width: auto;
    margin-top: 10px;
    padding: 8px 12px;
}

.container_user > div:nth-child(5) .impressum a:hover,
.admin_settings > div:nth-child(5) .impressum a:hover
.admin_board > div:nth-child(5) .impressum a:hover,
.container_fotogalerie_login > div:nth-child(5) .impressum a:hover,
.admin_container_impressum  > div:nth-child(5) .impressum a:hover,
.uploadBilder .impressum a:hover {
    color: rgb(109, 161, 144);
}

/*NUR Userbereich*/

.container_fotogalerie > div:nth-child(4) .button_upload button,
.uploadBilder > div:nth-child(2) .logout {
    margin: 8px 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    margin-top: 20px;
}

/*uploadBilder*/
.uploadBilder > div:nth-child(2) .logout:hover {
    background: #ffb766;
    color: #000;
}

.uploadBilder > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

.uploadBilder > div:nth-child(2) .logout_container {
    justify-content: center;
    margin-left: auto; 
    margin-right: 10px;
    
}

.uploadBilder > div:nth-child(2) .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: auto; 
    padding: 20px 50px;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.uploadBilder > div:nth-child(2) .logout:hover {
    color: rgb(109, 161, 144);
}


.uploadBilder > div:nth-child(2) .settingsicon:hover {
    background: lightgray;
}

.uploadBilder > div:nth-child(2) .settingsLink {
    text-decoration: none;
    color: #000;
    padding: 0 0.5rem;
    text-align: right;
}
  
.uploadBilder > div:nth-child(2) .settingsLink:hover {
    color: rgb(109, 161, 144);
}

.uploadBilder > div:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 20px;
    padding-left: 40px;
    height: 300px;
}

.uploadBilder > div:nth-child(3) .alert_success {
    color: rgb(56, 146, 56);
}


.admin_board > div:nth-child(3) .alert_success,
.container_user > div:nth-child(3) .success_message {
    color: rgb(69, 124, 69);
}

.admin_board > div:nth-child(3) .alert_error,
.container_user > div:nth-child(3) .error_message {
    color: rgb(175, 49, 49);
    text-decoration: underline;
}

.uploadBilder > div:nth-child(4) {
    grid-area: 3 / 2 / 4 / 4;
    height: 300px;
}

.uploadBilder > div:nth-child(4) .upload_box{
    grid-area: 3 / 2 / 4 / 4;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 20px;
    height: 280px;
    background: #ffb766;
}

.uploadBilder > div:nth-child(4) .upload_box .inner_upload_box {
    padding-top: 40px;
}

.uploadBilder > div:nth-child(4) .settingsLink {
    color: blue; 
    text-decoration: underline;
}

.uploadBilder > div:nth-child(4) .settingsLink:hover {
    color: darkblue; 
}

.uploadBilder > div:nth-child(4) .inner_upload_box input[type="submit"] {
    padding: 0.5rem 1rem;
    margin-top: 20px;
    font-size: 1rem;
    border: none;
    background: #000;
    cursor: pointer;
    margin-left: 0px;
    color:#68d388;
}

.uploadBilder > div:nth-child(4) .inner_upload_box input[type="submit"]:hover {
    color: #f3f0f0;
} 

.uploadBilder > div:nth-child(5)  {
    grid-area: 4 / 1 / 5 / 4;
    border-top: 1px solid black;
    padding-top: 20px;
    margin-bottom: 80px;

}

.container_user {
    display: grid;
    max-width: 900px;
    max-height: 1400px;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: repeat(18 05.fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.table_db h3, .table_eintrag h3 {
    margin-bottom: 20px;
}

.container_user > div:nth-child(3) {
    grid-area: 3 / 1 / 8 / 5;
    margin-bottom: 40px;
}

.container_user > div:nth-child(3) .error_message {
    padding: 20px;
    text-decoration: underline;
    color: red;
}

.container_user > div:nth-child(3) .field {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1.5rem 1rem 1rem 1.5rem;
    background: #ffb766;
}

.container_user > div:nth-child(3) .deleteFoto {
    font-size: 1rem;
    border: none;
    color: #f44336;
    background: black;
    width: auto;
    margin-top: 10px; /* Kleinere obere Marge */
    padding: 8px 12px;
}

.container_user > div:nth-child(3) .deleteFoto  {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1rem;
    border: none;
    width: 150px;
    cursor: pointer;
}

.container_user > div:nth-child(3) .deleteFoto:hover  {
    background: #f3f0f0;
    color: #000;
}

.container_user > div:nth-child(3) .cancelbtn {
    width: 150px;
    margin-top: 40px;
    padding: 10px 18px;
    background: #f3f0f0;
    color: black;
    border: none;
}

.container_user > div:nth-child(3) .cancelbtn:hover  {
    width: 150px;
    padding: 10px 18px;
    color: #f3f0f0;
    background: black;
    border: none;
}

.container_user > div:nth-child(4) {
    grid-area: 8 / 1 / 14 / 5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container_user > div:nth-child(4) .input-field {
    max-width: 100%;
    margin-left: 80px;
    max-width: 400px;
    padding: 1.5rem 1rem 1rem 1.5rem;
    background: #ffb766;
}

.container_user > div:nth-child(4) .changeUser {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.container_user > div:nth-child(4) .input-field .submit_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: #000;
    cursor: pointer;
    margin-left: 0px;
    color:#68d388;
}

.container_user > div:nth-child(4) .input-field .submit_button:hover {
    color: #f3f0f0;
} 

/*NUR Admin_dashboard*/
.admin_board > div:nth-child(3) {
    grid-area: 3 / 1 / 9 / 5;
    background: #7da7b8; 
    margin-bottom: 60px;
    padding: 10px;
    margin-right: 80px;
    margin-left: 80px;
}

.admin_board > div:nth-child(3)  .userToDelete {
    margin-top: 20px;
    color: #f44336;
    text-decoration: underline;
    background: #f3f0f0;
}

.admin_board > div:nth-child(4) .changeUser  {
    font-size: 1rem;
    border: none;
    background: #000;
    color: rgb(109, 161, 144);
    cursor: pointer;
    width: auto;
    margin-top: 10px; /* Kleinere obere Marge */
    padding: 8px 12px;
}

.admin_board > div:nth-child(4) .changeUser:hover  {
    background: #f3f0f0;
    color: #000;
}

.admin_board > div:nth-child(3) table {
    width:100%; 
    font-size: 0.9rem;
}

.admin_board > div:nth-child(3) table tbody {
    max-height: auto;
}

.admin_board > div:nth-child(3) .table_style {
    max-height: auto;
    max-width: 90%;
}

.admin_board > div:nth-child(4) .changeUser {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.admin_board > div:nth-child(3) .refresh {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border: none;
    margin-bottom: 40px;
}

.admin_board > div:nth-child(3) .refresh:hover {
    color:rgb(109, 161, 144);
    background: lightgray;
}

.admin_board > div:nth-child(3) .cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin-top: 40px;
    background-color:lightgray;
    border: none;
}

.admin_board > div:nth-child(3) .cancelbtn:hover {
    background: black;
    color: lightgray;
}


.admin_board > div:nth-child(3) .cancelbtn,
.admin_board > div:nth-child(3) .refresh {
    width: auto;
    margin-top: 10px; /* Kleinere obere Marge */
    padding: 8px 12px; /* Kleinere Polsterung */
}

/*db_neuerEintrag*/
.admin_board > div:nth-child(4) {
    grid-area: 9 / 1 / 14 / 5; 
    padding: 10px;
    margin-left: 40px;
    max-width: 300px;
    max-height: 500px;
    background: #7da7b8;
    margin-bottom: 20px;   
}

/*Admin_settings*/
.admin_settings {
    max-width: 900px;
    max-height: 1400px;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 0.7fr 2fr 2fr 0.7fr;
    grid-template-rows: repeat(18 05.fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.admin_settings > div:nth-child(3) {
    grid-area: 3 / 1 / 8 / 5;
    margin-bottom: 40px;
}

.admin_settings > div:nth-child(3) .field {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1.5rem 1rem 1rem 1.5rem;
    background: #7da7b8; 
}

.admin_settings > div:nth-child(4) {
    grid-area: 8 / 1 / 14 / 5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.admin_settings > div:nth-child(4) .input-field {
    max-width: 100%;
    margin-left: 80px;
    max-width: 400px;
    padding: 1.5rem 1rem 1rem 1.5rem;
    background: #7da7b8; 
}

.admin_settings > div:nth-child(4) .changeUser {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.admin_settings > div:nth-child(4) .input-field .submit_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: #000;
    cursor: pointer;
    margin-left: 0px;
    color:#68d388;
}

.admin_settings > div:nth-child(4) .input-field .submit_button:hover {
    border: 1px solid #68d388;
    color: black;
} 

/*fotogaliere_login*/

.container_fotogalerie_login {
    display: grid;
    max-width: 900px;
    max-height: auto;
    background: rgb(211, 202, 202);
    margin: 0 auto;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: 1fr auto repeat(11, 2fr) repeat(4, 0.2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


.container_fotogalerie_login> div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}


.container_fotogalerie_login > div:nth-child(5) {
    grid-area: 14 / 1 / 18 / 4;
    border-top: 0.5px solid black;
    padding-top: 10px;
    padding-bottom: 50px;
}

.container_fotogalerie_login .link_upload a {
    margin-top: 20px;
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    text-align: right;
}

.container_fotogalerie_login .link_upload a:hover {
    color: rgb(109, 161, 144);
}

.container_fotogalerie_login > div:nth-child(3) {
    grid-area: 3 / 1 / 13 / 4;
    background: rgb(211, 202, 202);
}

.container_fotogalerie_login > div:nth-child(3) .text {
    padding-left: 10px;
   
}

.container_fotogalerie_login > div:nth-child(3) .imageBox {
    background: rgb(211, 202, 202);
}
    

.container_fotogalerie_login> div:nth-child(3) .downloadicon,
.container_fotogalerie_login > div:nth-child(3) .h5icon {
    float: left;
    border: none;
}

.container_fotogalerie_login > div:nth-child(3) .downloadicon {
    padding-top: 15px;
    margin-bottom: 10px;
    border: none;
}

.container_fotogalerie_login > div:nth-child(3) .h5icon {
    margin-right: 155px;
}

/*4th button-container*/
.container_fotogalerie_login > div:nth-child(4) {
    grid-area: 13 / 1 / 14 / 4;
    padding: 0 2rem;
}

.container_fotogalerie_login > div:nth-child(4) .button_upload button {
    margin: 8px 0;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #fdcc04;
    background: #000;
    cursor: pointer;
    margin-top: 20px;
}

.container_fotogalerie_login > div:nth-child(4) .button_upload button:hover {
    background: #ffb766;
    color: #000;
}

/*admin_container_impressum*/
.admin_container_impressum  > div:nth-child(3) {
    grid-area: 5 / 1 / 10 / 5;
    margin-left: 40px;
    margin-bottom: 40px;
}

.admin_container_impressum  > div:nth-child(3) #a {
    text-align: center;
}

.admin_container_impressum  > div:nth-child(4) {
    grid-area: 10 / 1 / 14 / 5;
}







