<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Adminbereich</title>
  <link rel="stylesheet" href="../styles/style_backend.css"/>
  <link rel="stylesheet" href="../styles/w3.css"/>
  <!--<pre><%= JSON.stringify(user, null, 2) %></pre>-->
</head>
<body>
  <div class="admin_settings">
    <!--1st container-nav-->
    <div>
      <div class="logo">Adminbereich</div>
      <div class="nav-items">
        <a href="/admin">Userverwaltung</a>
        <a href="/admin_fotogalerie">Fotoverwaltung</a>
        <a href="/admin_start">HOME</a>
      </div>
    </div>
    <!--2nd container-einstellung-->
    <div>
      <!-- Logout-Button Container -->
      <div class="logout-container">
        <form action="/auth/logout" method="post">
            <button class="logout" type="submit">Logout</button>
        </form>
      </div>
    </div>
    <!--3rd container-db_ansicht-->
    <div>
      <div class="field">
        <p>Hier können Administratoren ihre Daten ändern.<br><br>
          Überblick zu den aktuellen Daten:</p>
        <table class="w3-table w3-striped w3-border">
          <tr>
            <th>Benutzername:</th>
            <th>Vorname:</th>
            <th>Nachname:</th>
            <!--<th>Bilder:</th>   -->
          </tr>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.name %></td>
            <td><%= user.surname %></td>
             <!-- Überprüfen, ob der Benutzer Bilder hat -
            <td>
              <% if (user.user_image_path && user.user_image_path.length > 0) { %>
               
                <ul>
                  <% user.user_image_path.forEach(imagePath => { %>
                    <li><img src="<%= imagePath %>" alt="Benutzerbild"></li>
                  <% }); %>
                </ul>
              <% } else { %>
               
                Keine Bilder vorhanden.
              <% } %>
            </td>-->
          </tr>
        </table>
      </div>      
    </div>
    <!--4th container-db_neuer_eintrag-->
    <div>
      <div class="input-field">
        <p>Hier können Administratoren ihre Daten ändern.</p>
        <form action="/auth/changeadmin_settings" method="POST">
          <label for="username">Benutzername:</label><br>
          <input type="text" id="username" name="username" value="" placeholder="<%= user.username%>"><br>

          <label for="name">Vorname:</label><br>
          <input type="text" id="name" name="name" value="" placeholder="<%= user.name%>"><br>

          <label for="surname">Nachname:</label><br>
          <input type="text" id="surname" name="surname" value="" placeholder="<%= user.surname%>"><br>

          <label for="newPassword">Passwort ändern:</label><br>
          <input type="password" id="newPassword" name="newPassword" value="" placeholder="* * * * * *"><br><br>

          <div class="change_button">
            <input type="submit" value="ÄNDERN" class="submit_button">
          </div>
        </form> 
      </div>
    </div>      
    <!--5th container footer-->
    <div>
      <div class="impressum">
        <a href="/admin_impressum">Impressum</a>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const submitButton = document.querySelector('.submit_button');
      submitButton.addEventListener('click', function(event) {
        const nameValue = document.querySelector('#name').value;
        const surnameValue = document.querySelector('#surname').value;
        const usernameValue = document.querySelector('#username').value;
        const newPasswordValue = document.querySelector('#newPassword').value;

        if (!nameValue && !surnameValue && !usernameValue && !newPasswordValue) {
          event.preventDefault(); 
          alert('Bitte geben Sie mindestens einen Wert zum Ändern ein.');
        }
      });
    });
  </script>
</body>
</html>