<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_backend.css"/>
  <link rel="stylesheet" href="../styles/style_v3.css">
  <link rel="stylesheet" href="../styles/w3.css"/>
  <script src="../admin_dashboard.js"></script>
</head>
<body>
  <div class="admin_board">
      <!--1st container-nav-->
      <div>
        <div class="logo">Adminbereich</div>
        <div class="nav-items">
          <a href="/admin_settings">Einstellungen ändern</a>
          <a href="/admin_fotogalerie">Fotoverwaltung</a>
          <a href="/admin_start">HOME</a>
        </div>
      </div>
      <!--2nd settings and logout-->
      <div>
        <!-- Logout-Button Container -->
        <div class="logout-container">
          <form action="/auth/logout" method="POST">
              <button class="logout" type="submit">Logout</button>
          </form>
        </div>
      </div>
      <!--3rd table all user-->
      <div>
        <div class="field">
          <% if (locals.addError) { %>
            <p class="alert_error">
              Benutzername oder E-Mail existiert bereits!
            </p>
          <% } %>
            <p>Hier befindet sich ein Ausschnitt zu den aktuell hochgeladenen Bildern und allen registrierten Usern.</p>
            <h4>Alle registrierten User</h4>

        </div>
        <form action="/auth/userdata" method="GET">
            <table class="w3-table w3-striped w3-border" border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Benutzername</th>
                        <th>Name</th>
                        <th>Nachname</th>
                        <th>E-Mail</th>
                        <th>Rolle</th>
                        <th>Auswahl</th>
                    </tr>
                </thead>
                <tbody>
                    <% userData.forEach(row => { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td><%= row.username %></td>
                            <td><%= row.name %></td>
                            <td><%= row.surname %></td>
                            <td><%= row.email %></td>
                            <td><%= row.role %></td>
                            <td>
                              <input type="checkbox" name="userToDelete" value="<%= row.id %>" onchange="updateDeleteUserId(this)">
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
              </table>
              <% if (locals.changeSuccess) { %>
                <p class="alert_success">
                  Der oder die User wurde/n erfolgreich gelöscht!
                </p>
              <% } %>
              <% if (locals.changeError) { %>
                <p class="alert_error">
                  Ein Fehler ist leider aufgetreten!
                </p>
              <% } %>
              <!--<button class="deleteUser" type="button" onclick="deleteUser()">Benutzer löschen:</button>-->
              <div class="userToDelete" id="selectedUsers"></div><br>              
              <form id="deleteForm" action="/auth/deleteuserandfotos" method="POST">
                <input type="hidden" name="id" id="userToDelete" value="">
                <button class="refresh" type="button" onclick="deleteUserAndFotos()">LÖSCHEN UND AKTUALISIEREN</button>
              </form>
            <button class="cancelbtn" type="button" onclick="cancelDeletion()">Abbrechen</button>
        </form>
      </div>
      <!--4th add user-->
      <div class="adduser">
        <h4>Add User</h4>
        <div class="login_form">
          <form class="field" action="/auth/adduser" method="POST">
              <input type="hidden" name="is2FATokenSet" id="is2FATokenSet" value="<%= is2FATokenSet %>">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username" required><br>

              <label for="name">Name:</label><br>
              <input type="text" id="name" name="name" required><br>

              <label for="surname">Surname:</label><br>
              <input type="text" id="surname" name="surname" required><br>

              <label for="email">E-Mail:</label><br>
              <input type="text" id="email" name="email" required><br>
              
              <label for="email">Passwort:</label><br>
              <input type="text" id="password" name="password" required><br>

              <label for="role">Role:</label><br>
              <select id="role" name="role" required>
                  <option value="user">User</option>
                  <option value="admin">Admin</option>
              </select>
              <button class="changeUser" type="submit">Add User</button>
          </form>
        </div>
      </div>   
      <!--5th container footer-->
      <div>
        <div class="impressum">
          <a href="/admin_impressum">Impressum</a>
        </div>
      </div>
  </div>
</body>
</html>