<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../bilder/favicon.ico" type="image/x-icon">
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_backend.css"/>
  <link rel="stylesheet" href="../styles/w3.css"/>
  <link rel="stylesheet" href="node_modules/@mdi/font/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
  
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vuetify/dist/vuetify.js"></script>
  <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
</head>
<body>
    <!--container_fotogalerie_userbereich-->
    <div class="container_fotogalerie_login">
        <!--1st nav-container-->
        <div>
            <div class="logo">Adminbereich</div>
            <div class="nav-items">
              <a href="/admin_settings">Einstellungen ändern</a>
              <a href="/admin">Userverwaltung</a>
              <a href="/admin_start">HOME</a>
            </div>
        </div>
        <!--2nd text-container-->
        <div>
          <!-- Logout-Button Container -->
          <div class="logout-container">
            <form action="/auth/logout" method="post">
                <button class="logout" type="submit">Logout</button>
            </form>
          </div>
        </div>
        <!--3rd fotogalerie-->
        <div>
          <p class="text">Übersicht zu allen verfügbaren Bildern:</p><br>
          <div id ="app" class ="container_img"></div>
        </div>
        <!--4th upload_button-->
        <div></div>
        <!--5th footer-container-->
        <div>
            <div class="impressum">
            <a href="/admin_impressum">Impressum</a>
            </div>
        </div>
    </div>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          imagePaths: [],
          user_ids: [],
          selectedImages: [],
        },
        async created() {
          await this.loadImages();
        },
        methods: {
          async loadImages() {
            try {
              const host = window.location.hostname; // Hostname der aktuellen Seite
              //const port = window.location.port || "8001";
              //console.log('Ausgabe Clientseite ', host, port) // Port der aktuellen Seite oder Standardport 8001
              const url = `https://${host}/api/fotos`; 
              const response = await fetch(url); 
              const { imagePaths, user_ids } = await response.json();
              this.imagePaths = imagePaths;
              this.user_ids = user_ids;
            } catch (error) {
              console.error('Fehler beim Laden der Bildpfade:', error);
            }
          },
          downloadImage(imagePath) {
            const link = document.createElement('a');
            link.href = imagePath;
            link.download = 'image.jpg';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          },
          toggleImageSelection(index) {
            const isSelected = this.selectedImages.includes(index);
            if (isSelected) {
              const selectedIndex = this.selectedImages.indexOf(index);
              this.selectedImages.splice(selectedIndex, 1);
            } else {
              this.selectedImages.push(index);
            }
          },
          async deleteSelectedImages(index) {
            try {
              const imagePathToDelete = this.imagePaths[index];
              const host = window.location.hostname; // get hostname of current page
              //const port = window.location.port || "8001"; // not necessary in kubernetes

              const response = await fetch(`https://${host}/api/deleteSingleimage`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({ imagePath: imagePathToDelete }),
              });

              const data = await response.json();
              if (data.success) {
                // delete image from view
                this.imagePaths.splice(index, 1);
                this.user_ids.splice(index, 1);
              } else {
                console.error('Fehler beim Löschen des Bildes:', data.message);
              }
            } catch (error) {
              console.error('Fehler beim Löschen des Bildes:', error);
            }
          },

        },
        template: `
          <v-app style="background: rgb(211, 202, 202);">
            <v-container class="imageBox" style="background: rgb(211, 202, 202);">
              <v-row>
                <v-col v-for="(image, index) in imagePaths" :key="index" cols="12" sm="4" md="4">
                  <v-card>
                    <v-img :src="image" aspect-ratio="1.5"></v-img>
                    <v-card-title>Benutzer ID: {{ user_ids[index] }}</v-card-title>
                    <v-card-actions>
                      <v-btn icon @click="downloadImage(image)">
                        <v-icon>mdi-download</v-icon>
                      </v-btn>
                      <v-btn icon @click="deleteSelectedImages(index)">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-app>
        `,
      });
    </script>

</body>
</html>