<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../bilder/favicon.ico" type="image/x-icon">
  <title>Adminbereich</title>
  <link rel="stylesheet" href="../styles/style_v3.css"/>
</head>
<body>
  <!--my-container-->
  <div class="my_container">
    <!--1st nav-container-->
    <div>
      <div class="logo">Adminbereich</div>
      <div class="nav-items">
        <a href="/admin_settings">Einstellungen ändern</a>
        <a href="/admin">Userverwaltung</a>
        <a href="/admin_fotogalerie">Fotoverwaltung</a>
      </div>
    </div>
    <!--2nd text-container-->
    <div>
      <h1>Verwaltungsbereich für Admins:</h1>
      <ul>
        <li>Die eigenen Einstellungen ändern</li>
        <li>Userverwaltung: User hinzufügen oder löschen</li>
        <li>Fotoverwaltung: Fotos löschen oder hinzufügen</li>
      </ul>
    </div>
    <!--3rd login-container-->
    <div>
      <div class="logout_container">
        <form action="/auth/logout" method="post">
          <button class="logout" type="submit">Logout</button>
        </form>
      </div> 
    </div>
    <!--4th register-container-->
    <div>
      <div>
        <img src="../bilder/kyle-johnson.jpg" alt="Landschaftsbild Adminbereich" class="index_img">
      </div>
    </div>
    <!--5th footer-container-->
    <div>
      <div class="impressum">
        <a href="/admin_impressum">Impressum</a>
      </div>
    </div>
  </div>
</body>
</html>
