<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../bilder/favicon.ico" type="image/x-icon">
    <title>Testumgebung</title>
    <link rel="stylesheet" href="../styles/style_v3.css"/>
    <link rel="stylesheet" href="../styles/w3.css"/>
    <link rel="stylesheet" href="/styles/w3.css"/>

    <link rel="stylesheet" href="node_modules/@mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
    
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vuetify/dist/vuetify.js"></script>
    <link rel="stylesheet" href="node_modules/vuetify/dist/vuetify.min.css">
  </head>
<body>
  <!--container_fotogalerie-->
  <div class="container_fotogalerie">
      <!--1st nav-container-->
      <div>
          <div class="logo">Testumgebung</div>
          <div class="nav-items">
            <a href="/login_register">Login / Registrierung</a>
            <a href="/">HOME</a>
          </div>
      </div>
      <!--2nd text-container-->
      <div>
          <p>Übersicht zu allen verfügbaren Bildern:</p>
      </div>
      <!--3rd fotogalerie-->
      <div>
        <div id ="app" class ="container_img"></div>
      </div>
      <!--4th upload_button-->
      <div class="link_upload">
          <a href="/login" style="text-decoration: underline;">Bilder hochladen</a>
      </div>
      <!--5th footer-container-->
      <div>
          <div class="impressum">
          <a href="impressum.html">Impressum</a>
          </div>
      </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        imagePaths: [],
        user_ids: [],
      },
      async created() {
        await this.loadImages();
      },
      methods: {
        async loadImages() {
          try {
            // Dynamische Abfrage host und port, da der Webserver in Minikube über 
            // einen Tunnel mit dynamischem Port zur Verfügung gestellt wird.
            const host = window.location.hostname; // Hostname der aktuellen Seite
            //const port = window.location.port || "8001";
            console.log('Ausgabe Clientseite ', host) 
            const url = `https://${host}/api/fotos`; 
            const response = await fetch(url); 
            const { imagePaths, user_ids } = await response.json();
            console.log('Ausgabe Fotos Client', imagePaths, user_ids);
            this.imagePaths = imagePaths;
              console.log('Ausgabe Client', imagePaths);
              this.user_ids = user_ids;
          } catch (error) {
            console.error('Fehler beim Laden der Bildpfade:', error);
          }
        },

        downloadImage(imagePath) {
          const link = document.createElement('a');
          link.href = imagePath;
          link.download = 'image.jpg';
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        }
      },
      template: `
        <v-app style="background: rgb(211, 202, 202);">
          <v-container class="imageBox" style="background: rgb(211, 202, 202);">
            <v-row>
              <v-col v-for="(image, index) in imagePaths" :key="index" cols="12" sm="4" md="4">
                <v-card>
                  <v-img :src="image" aspect-ratio="1.5"></v-img>
                  <v-card-title>Benutzer ID: {{ user_ids[index] }}</v-card-title>
                  <v-card-actions>
                    <v-btn icon @click="downloadImage(image)">
                      <v-icon>mdi-download</v-icon>
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-app>
      `
    });
  </script>    
</body>
</html>