<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_v3.css"/>
</head>
<body>
  <!--container, login_register-->
  <div class="login_register">
    <!--1st nav-container-->
    <div>
      <div class="logo">Testumgebung</div>
      <div class="nav-items">
        <a href="/fotogalerie">Fotogalerie</a>
        <a href="/">HOME</a>
      </div>
    </div>
    <!--2nd text-container: text-->
    <div>
        <h1>Login
        </h1>
        <p>Nun können Sie sich als User oder Admin, je nach Rollenzugehörigkeit, einloggen.</p>
    </div>
    <!--3rd login-container: login-->
    <div>
      <div class="login_form">
        <h1>Login</h1>

          <form id="loginFormLogin" action="/auth/login" method="POST">
            <div class="container">
              <label for="usernameOrEmail">Benutzername oder E-Mail:</label>
              <input type="text" id="usernameOrEmail" name="usernameOrEmail" required placeholder="Beliebigen Benutzernamen eingeben">

              <label for="current-password">Passwort:</label>
              <input type="password" id="current-password" name="password" autocomplete="current-password" required placeholder="Eingabe des Passworts">

              <div class="button_login">
                <button type="submit">ANMELDEN</button>
              </div>
            </div>
          </form>
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Abbrechen</button>
          <span class="psw"><a href="#">Passwort vergessen?</a></span>
        </div>
      </div>
    </div>
    <!--4th register-container: register-->
    <div>
    </div>
    <!--5th footer-container-->
    <div>
      <div class="impressum">
        <a href="/impressum">Impressum</a>
      </div>
    </div>
  </div>
</body>
</html>
