<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testumgebung - 2FA Einrichten</title>
    <link rel="stylesheet" href="../styles/style_v3.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="login_register">
        <!--Header-->
        <div>
            <div class="logo">Testumgebung</div>
            <div class="nav-items">
                <a href="/login_register/2fa">ZURÜCK ZUM LOGIN</a>
            </div>
        </div>
        <!--Geheimcode-Anzeige-->
        <div>
            <h1>2FA-Authentisierung</h1>
            <h2>Der TOTP-Geheimcode wird hier ausgegeben</h2>
            <p>Anschließend über den Link 'ZURÜCK ZUM LOGIN' <br>
                den zweiten Faktor entsprechend eingeben.</p>
            <br>
            <!-- Hier wird der TOTP-Geheimcode angezeigt -->
            <p>Geheimcode: <%= totpSecret %></p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                totpSecret: ''
            },
            created() {
                this.loadTOTPSecret();
            },
            methods: {
                async loadTOTPSecret() {
                    try {
                        const host = window.location.hostname; // Hostname der aktuellen Seite
                        const url = `https://${host}/auth/2fa/simple`;
                        const response = await fetch(url);
                        //const data = await response.json();
                        const data = await response.text();
                        this.totpSecret = data; 
                        //this.totpSecret = data.totpSecret;
                    } catch (error) {
                        console.error('Fehler beim Laden des TOTP-Geheimcodes:', error);
                    }
                }
            }
        });
    </script>
</body>
</html>
