<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loginbereich</title>
    <link rel="stylesheet" href="../styles/style_backend.css"/>
    <link rel="stylesheet" href="../styles/w3.css"/>
</head>
<body>
    <div class="uploadBilder">
        <!--1st nav-container-->
        <div>
            <div class="logo">Userbereich</div>
            <div class="nav-items">
                <a href="/user_fotogalerie">Fotogalerie</a>
                <a href="/user_index">HOME</a>
            </div>
        </div>
        <!--2nd text-container-->
        <div>
          <!-- Logout-Button Container -->
          <div class="logout-container">
            <form action="/auth/logout" method="post">
                <button class="logout" type="submit">Logout</button>
            </form>
          </div>
            
          <div class="link_upload">
              <img src="../bilder/settings.svg" alt="settingsIcon" width="30px" height="30px" class="settingsicon" >
              <a href="/user" style="text-decoration: underline;" class="settingsLink">Einstellungen ändern</a>              
          </div>
        </div>
        <!--3rd fotogalerie-->
        <div>
                <h3>Upload der Bilder</h3>
                <p>Hier können eingeloggte User Bilder hochladen.</p>
                <% if (locals.uploadSuccess) { %>
                  <p class="alert_success">
                    Das Bild wurde erfolgreich hochgeladen!
                  </p>
                <% } %>
        </div>
        <!--4th upload_button-->
        <div>
            <div class="upload_box">
                <form method="POST" action="/api/upload" enctype="multipart/form-data" class="inner_upload_box ">
                    <label for="image">Bild auswählen:</label>
                    <input type="file" name="image" id="image" required><br>
                    <br>
                    <label for="title">Titel eingeben:</label>
                    <input type="text" name="title" id="title" required><br>
                    <input type="submit"><br>
                </form>                
            </div>
        </div>
        <!--5th footer-container-->
        <div>
            <div class="impressum">
            <a href="/user_impressum">Impressum</a>
            </div>
        </div>
    </div>
</body>
</html>