<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_v3.css"/>
</head>
<body>
    <!--container_impressum-->
    <div class="container_impressum">
    <!--1st nav-container-->
     <div>
        <div class="logo">Userbereich</div>
        <div class="nav-items">
            <a href="/user_upload">Bilder hochladen</a>
            <a href="/user">Einstellungen ändern</a>
            <a href="/user_fotogalerie">Fotogalerie</a>
            <a href="/user_index">HOME</a>
        </div>
    </div>
    <!--2nd text-container-->
    <div> 
        <div class="logout_container">
            <form action="/auth/logout" method="post">
              <button class="logout" type="submit">Logout</button>
            </form>
        </div>  
        <p id="a">Erstellt im Rahmen der Masterarbeit zum Thema <br>
            <i>"Analyse einer Sicherheitsarchitektur nach Zero Trust mittels Kubernetes"</i> <br>
            von <br>
            Annika Breutmann <br>
        </p>
        <p id="b">
            <h4>Bildnachweise</h4>
            <ul>
                <li>Startseite: <a target="_blank" href="https://icons8.com/icon/2969/settings">Settings</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
                <li>Fotogalerie 1: Foto von <a href="https://unsplash.com/de/@kitzbuehel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kitzbühel</a> auf <a href="https://unsplash.com/de/fotos/ein-feld-mit-einem-berg-im-hintergrund-71dUtaVBefY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </li>
                <li>Fotogalerie 2: Foto von <a href="https://unsplash.com/de/@kristapsungurs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kristaps Ungurs</a> auf <a href="https://unsplash.com/de/fotos/ein-blau-weisses-foto-von-wasser-und-schnee-F1UCZOnvlmY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </li>
                <li>Fotogalerie 3: Foto von <a href="https://unsplash.com/de/@colinwatts?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Colin Watts</a> auf <a href="https://unsplash.com/de/fotos/ein-baum-auf-einem-feld-kpOvONKL0Cg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </li>
                <li>Fotogalerie 4: Foto von <a href="https://unsplash.com/de/@coopery?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Mohamed Nohassi</a> auf <a href="https://unsplash.com/de/fotos/eine-gruppe-von-sanddunen-mit-blauem-himmel-im-hintergrund-Di-DmLD6cW8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </li>
                <li>Fotogalierie Download Icon: <a href="https://www.flaticon.com/free-icons/download" title="download icons">Download icons created by Pixel perfect - Flaticon</a></li>
            </ul>
        </p>
    </div>  
    </div>
</body>
</html>
