<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_backend.css"/>
  <link rel="stylesheet" href="../styles/w3.css"/>
  <script src="../fotosdelete_user.js"></script>
</head>
<body>
  <div class="container_user">
    <!--1st container-nav-->
    <div>
      <div class="logo">Userbereich</div>
      <div class="nav-items">
        <a href="/user_upload">Bilder hochladen</a>
        <a href="/user_fotogalerie">Fotogalerie</a>
        <a href="/user_index">HOME</a>
      </div>
    </div>
    <!--2nd container-einstellung-->
    <div>
      <!-- Logout-Button Container -->
      <div class="logout-container">
        <form action="/auth/logout" method="post">
            <button class="logout" type="submit">Logout</button>
        </form>
      </div>
    </div>
    <!--3rd container-db_ansicht-->
    <div>
      <div class="error_message">
        <% if (error !== undefined && error !== null) { %>
          <%= error %>
        <% } %>
      </div>
      <div class="success_message">
        <% if (success !== undefined && success !== null) { %>
          <%= success %>
        <% } %>
      </div>      
      <div class="field">
        <p>Hier können User ihre Fotos ändern.<br>
          Überblick zu den aktuellen Fotos. Es können hier neue Fotos gelöscht oder über eine Weiterleitung
          neue Fotos hinzugefügt werden.</p>
        <form action="/user/refresh" method="GET">
            <table class="w3-table w3-striped w3-border" border="1">
              <thead>
                <tr>
                  <th>Benutzername: <br>
                    <div style="text-decoration: underline; color: rgb(76, 76, 155);;"><%= username %></div>
                  </th>
                  <th>Geladene Fotos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <% if (fotosData && fotosData.length > 0) { %>
                      <% fotosData.forEach(item => { %>
                        <% if (item) { %>
                          <tr>
                            <td><input type="checkbox" name="fotoToDelete" value="<%= item.image_path %>" onchange="updateDeleteFotos(this)"></td>
                            <td><%= item.title %></td>
                          </tr>
                        <% } %>
                      <% }); %>
                      <!-- Füge die folgende Zeile hinzu, um fotosData in der Konsole auszugeben -->
                      <% console.log('fotosData:', fotosData); %>
                    <% } else { %>
                      <tr>
                        <td colspan="2">Noch keine hochgeladenen Fotos.</td>
                      </tr>
                    <% } %>                    
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="deleteFoto" type="button" onclick="deleteFoto()">Foto löschen</button>
            <form id="deleteForm" action="/api/deletefotos" method="POST">
              <% fotosData.forEach(title => { %>
                <input type="hidden" name="id" id="deleteFotoId" value="">
              <% }); %>
            </form>
            <button class="cancelbtn" type="button" onclick="cancelDeletion()">Abbrechen</button>
        </form>
      </div>      
    </div>
    <!--4th container-db_neuer_eintrag-->
    <div>
      <div class="input-field">
        <p>Hier können Benutzer ihre Daten ändern.</p>
        <form action="/auth/changeUserData" method="POST">
          <label for="username">Benutzername:</label><br>
          <input type="hidden" name="is2FATokenSet" id="is2FATokenSet" value="<%= is2FATokenSet %>">
          <input type="text" id="username" name="username" value="<%= username%>" placeholder="<%= username%>"><br><br>
          <label for="newPassword">Passwort ändern:</label><br>
          <input type="password" id="newPassword" name="newPassword" placeholder="* * * * * *"><br><br>
          <div class="change_button">
            <input type="submit" value="ÄNDERN" class="submit_button">
          </div>
        </form>
      </div>
    </div>      
    <!--5th container footer-->
    <div>
      <div class="impressum">
        <a href="/user_impressum">Impressum</a>
      </div>
    </div>
  </div>
</body>
</html>
