<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../public/bilder/favicon.ico" type="image/x-icon">
  <title>Testumgebung</title>
  <link rel="stylesheet" href="../styles/style_v3.css"/>
</head>


<body>
  <!--my-container-->
  <div class="my_container">
    <!--1st nav-container-->
    <div>
      <div class="logo">Userbereich</div>
      <div class="nav-items">
        <a href="/user">Einstellungen ändern</a>
        <a href="/user_upload">Bilder hochladen</a>
        <a href="/user_fotogalerie">Fotogalerie</a>
      </div>
    </div>
    <!--2nd text-container-->
    <div>
      <h1>Folgende Testeingaben sind möglich:</h1>
      <ul>
        <li>Login als User oder Admin</li>
        <li>Downloadfunktion von Bildern für alle User</li>
        <li>Uploadfunktion von Bildern nur für eingeloggte User</li>
        <li>Userbackendbereich für eingeloggte User</li>
        <li>Adminbackendbereich für eingeloggte Admins</li>
      </ul>
    </div>
    <!--3rd login-container-->
    <div>
      <div class="logout_container">
        <form action="/auth/logout" method="POST">
          <button class="logout" type="submit">Logout</button>
        </form>
      </div> 
      <div>
        <img src="../bilder/kyle-johnson.jpg" alt="Landschaftsbild Startseite" class="index_img">
      </div>
    </div>
    <!--4th register-container-->
    <div></div>
    <!--5th footer-container-->
    <div>
      <div class="impressum">
        <a href="/impressum_login">Impressum</a>
      </div>
    </div>
  </div>
</body>
</html>
